{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% import "greeting.html" as greeting %}

{% block header %}
<h1>Heather And David's</h1>
<h2>Baby Name Suggestions</h2>
<h1>It's A Boy</h1>
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
{% block greeting %}
    {{ greeting.greeting(current_user) }}
{% endblock %}
{% endif %}
<div class="section">
    <div class="left">
        
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
        <br>
        <h3>Help Us Pick A Name</h3>
        <br>
        <h3>Please Make A Name Suggestion</h3>
      
        <br>
        <form role="form" method="POST" action="/">
            <div class="form-group">
                <input type="text" name="name" class="form-control formleft" id="url-box" placeholder="Enter Suggestion..."
                    style="max-width: 300px;" required autocomplete="off">
            </div>
            <br>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
       <br> 
    </div>

    <div class="right">
        {% if names %}
        <h3>Name Suggestions</h3>
        <br>
        <div id="names">
            <table class="table table-striped center" style="max-width: 400px;">
                <thead>
                    <tr>
                        <th>Votes</th>
                        <th></th>                        
                        <th>Name</th>
                    </tr>
                </thead>
                {% for name in names%}
                <tr>
                    <td class="vote"> {{ name[1] }} </td>
                    <td>>----></td>                       
                    <td><a href="{{ url_for('main.name_search', name=name.suggested_name) }}">{{ name.suggested_name }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}